.contatiner{
    width: 90%;
    padding-left: 200px;
    text-align: center;
    
}
.nevsection-container{
    text-align: center;
    margin-bottom: 100px;

}
h1{
    font-weight: 500;
    font: bold;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pricesection {
    background: chocolate;
    height: 2px;
    width: 55px;
    margin: 0 auto;
}
.text-align{
    text-align: center;
}
.contatiner1{
    width: 90%;
    padding-left: 200px;
    text-align: center;
    padding-bottom: 80px;
}
.map-container{
        width: 80%;
        align-self: center;
        text-align: center;
        padding-bottom: 80px;
        border: 5px solid black;
}
h2{
    font-size: 2em;
    font-weight: 500px;
    text-align: center;
    margin: 2px;
    padding: 5px;
    text-shadow: cyan;
}
.align-center{
    margin: 300px 250px 500px 500px;
}
.service-area{
    height: 200px;
    width: auto;
    background: cyan;
    border: 2px solid black;
    margin-top: 140px;
}
.align-button-center{
    padding-top: 20px;
}
.contact-contianer{
align-self: center;
text-align: center;
width: 80% ;
display: block;
align-self: center;
margin-bottom: 20px;
margin-right: 10px;
margin-left: 10px;
padding: 10px 10px 10px 200px;

}
.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border: 2px solid red;
    }
    .map-container-5 iframe{
    left:0;
    border: 2px solid red;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.contact-map{
    width: 80%;
    margin-left: 100px;
}
.shop-container{
    width: 80%;
    margin-left: 150px;
    margin-top: 200px;
    margin-bottom: 50px;
}
.shop-color{
    background-color: rgb(245, 122, 0);
}
.area-map{
    width: 80%;
    margin-left: 100px;
    margin-top: 50px;
}
.area-button{
    margin: 10px 5px 5px 5px;
}
.ftp-map{
    width: 70%;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 20px;
}